<ion-view view-title="COLOR HELP">
  <ion-content>

    <div class="image-instruction color"></div>
    <div>
      <p class="information information-element">1. Upper ring:</p>
      <p class="information information-small">You can call it surface<br/>
        Use some white background<br/>
        If can't see it, probably need glasses
      </p>
      <p class="information information-element">2. Lower ring:</p>
      <p class="information information-small">Hard to see<br/>
        Some light right over the cup might help<br/>
        If can't see it, you are a normal person
      </p>
    </div>
    <a class="button button-full button-light-red" href="#/app/color">
        THAT WAS EASY!
    </a>

  </ion-content>
</ion-view>
