<ion-view view-title="HELP" >
  <ion-content>
    <div>
      <div class="image-instruction information"></div>
      <div>
        <p class="information information-element">1. LOGO:</p>
        <p class="information information-small">Some are ugly<br/>
          Some are pretty<br/>
          Might be one with the brand
        </p>

        <p class="information information-element">2. BRAND:</p>
        <p class="information information-small">Biggest text<br/>
          Near the logo<br/>
          Sounds famous
        </p>
        <p class="information information-element">3. NAME:</p>
        <p class="information information-small">Second biggest text<br/>
          Emphatized or very loud<br/>
          Might be numbers or weird letters<br/>
          Tries to sound catchy
        </p>
        <p class="information information-element">4. YEAR:</p>
        <p class="information information-small">Not always easy to find<br/>
          Might have to look on the counter-label
        </p>
      </div>
    </div>
<!--Buttons-->
    <a class="button button-full button-light-red" href="#/app/info">
        THANKS! I THINK I GET IT
    </a>
  </ion-content>
</ion-view>
