<ion-modal-view >
    <ion-content>
        <div>
            <div class="image-instruction taste"></div>
            <div>
                <p class="information information-element">1. YOUR HEAD:</p>
                <p class="information information-small">Don't incline it<br/>
                    Be elegant<br/>
                    The cup goes to your mouth, not the other way around
                </p>

                <p class="information information-element">2. THE CUP:</p>
                <p class="information information-small">Incline it to be able to smell the rum before taking a sip<br/>
                    Slowly taking it to your face<br/>
                    Grab it by the base or the leg
                </p>
                <p class="information information-element">3. YOUR ARM:</p>
                <p class="information information-small">Hand in front of face, not over or under<br/>
                    The cup wont fall, don't be scared<br/>
                    Seriously, it wont fall, relax<br/>
                    Tries to sound catchy
                </p>
            </div>
        </div>
        <!--Buttons-->
        <a class="button button-full button-light-red" ng-click="modalt.hide()">
            EASY PEASY LEMON SQUEEZY
        </a>
    </ion-content>
</ion-modal-view>