<ion-modal-view >
  <ion-content>
    <div>
      <div class="image-instruction smell"></div>
      <div>
        <p class="information information-element">1. YOUR HEAD:</p>
        <p class="information information-small">Incline just a little bit<br/>
          Don't move your neck<br/>
          Stand straight, you don't need a hump
        </p>

        <p class="information information-element">2. THE CUP:</p>
        <p class="information information-small">Incline it 45 degrees<br/>
          No, it does not have to be exactly 45 degrees<br/>
          Take the glass to your nose, not the nose to the glass
        </p>
      </div>
    </div>
<!--Buttons-->
    <a class="button button-full button-light-red"ng-click="modal3.hide()">
        THANKS! GG WELL PLAYED
    </a>
  </ion-content>
</ion-modal-view>
