<ion-view view-title="SMELL" style="page-light-black">

    <ion-tabs class="tabs-assertive tabs-icon-top">
        <ion-tab></ion-tab>
        <ion-tab title="Continue" icon-on="ion-checkmark-round"  icon-off="ion-checkmark-round"  href="#/app/menu">
            <!-- Tab 1 content -->
        </ion-tab>


        <ion-tab title="Help" icon-on="ion-help" icon-off="ion-help" ng-click="modal3.show()">
            <!-- Tab 2 content -->
        </ion-tab>

        <ion-tab title="Return" icon-on="ion-arrow-left-c" icon-off="ion-arrow-left-c" href="#/app/color">
            <!-- Tab 3 content -->
        </ion-tab>
        <ion-tab></ion-tab>
    </ion-tabs>

  <ion-content>
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
              <input type="text" placeholder="Type a word to search" ng-model="checked.word">
              </label>
              <button class="button button-small" ng-click="refresh()">
              SUBMIT
              </button>
            </div>
          <ion-radio class="selection" ng-repeat="test in smells" ng-value="test.id" ng-model="note.smell">{{test.name}}</ion-radio>
<!-- Intensity bar
          <div class="list">
          <div class="information small">
            intensity
          </div>
              <div class="item range range-positive">
                <i class="icon ion-minus-circled"></i>
                <input type="range" name="volume" min="1" max="3" value="2" ng-model='note.itensitySmell'>
                <i class="icon ion-plus-circled"></i>
              </div>
         </div>
-->

  </ion-content>
</ion-view>
